FTP/.idea/
FTP/target/
FTP/FTP.iml
FTP/readme.pdf
FTP/user_guide.pdf
FTP/user_guide.txt
FTP/user_guide_zonal.pdf
FTP/user_guide_zonal.txt
FTP/meta-data/FTP-*.jar
FTP/meta-data/config-files/event_data/

